<section id="home-page">
    <div class="short-info">
        <h1>The Best Of The Wildlife Photography.</h1>
        <h2>Share Knowledge About The Environment And Enrich Your Life.</h2>
    </div>

    <div class="offers">
        <!-- Do not forget to change the path to the image -->
        <div class="col container"><img src="./static/img/nature1.jpg" alt="nature_1"></div>
        <!-- Do not forget to change the path to the image -->
        <div class="col container"><img src="./static/img/nature2.jpg" alt="nature_2"></div>
        <!-- Do not forget to change the path to the image -->
        <div class="col container"><img src="./static/img/nature3.jpg" alt="nature_3"></div>
        <!-- Do not forget to change the path to the image -->
        <div class="col container"><img src="./static/img/nature4.jpg" alt="nature_4"></div>
    </div>

</section>